dist
cabal-dev
static
npm-debug.log
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp

/node_modules
/bin
/pkg
/src
/vendor
/server/bindata.go
/server/data/static/build

.pid
.DS_Store
